In [ ]:
Employee={"name":"jonny","age":32,"salary":28000,"company":"^tcs"}
print(type(Employee))
print("printing Employee data...")
print(Employee)

<class 'dict'>
printing Employee data...
{'name': 'jonny', 'age': 32, 'salary': 28000, 'company': '^tcs'}

In [ ]:
Dict = {}
print("Empty Dictionary:")
print(Dict)

Empty Dictionary:
{}

In [ ]:
Dict = dict({1:'Hcl',2:'WIPRO',3:'Facebook'})
print("\n Dictionary by using dict():")
print(Dict)

 Dictionary by using dict():
{1: 'Hcl', 2: 'WIPRO', 3: 'Facebook'}

In [ ]:
Dict = dict([(4,'Rinku'),(2,'Singh')])
print("\nDictioinry with each item as a pair:")
print(Dict)

Dictioinry with each item as a pair:
{4: 'Rinku', 2: 'Singh'}

In [ ]:
Employee = {"Name":"Dev","Age":21,"salary":45000,"company":"WIPRO"}
print(type(Employee))
print("printing Employee data....")
print("Name:%s"%Employee["Name"])
print("Age:%d"%Employee["Age"])
print ("Salary:%d"%Employee["salary"])
print("Company:%s"%Employee["company"])

<class 'dict'>
printing Employee data....
Name:Dev
Age:21
Salary:45000
Company:WIPRO

In [ ]:
Dict = {}
print("Empty Dictionary:")
print(Dict)

Empty Dictionary:
{}

In [ ]:
Dict[0]='Peter'
Dict[2]='Joseph'
Dict[3]='Ricky'
print("\nDictionary after adding 3 elements:")
print(Dict)

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky'}

In [ ]:
Dict['Emp_ages'] = 20,33,24
print("\nDictionary after adding 3 elements:")
print(Dict)

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky', 'Emp_ages': (20, 33, 24)}

In [ ]:
Dict[3]='JavaTpoint'
print("\nUpdated key value: ")
print(Dict)

Updated key value:
{0: 'Peter', 2: 'Joseph', 3: 'JavaTpoint', 'Emp_ages': (20, 33, 24)}

In [ ]:
Employee = {"Name":"Dev","Age":20,"Salary":45000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data....")
print(Employee)
print("Enter the details of the new Employee....");
Employee["Name"]=input("Name:");
Employee["Age"]=int(input("Age:"));
Employee["salary"] = int(input("Salary:"));
Employee["company"] = input("Company:");
print("printing the new data....")
print(Employee)

<class 'dict'>
printing Employee data....
{'Name': 'Dev', 'Age': 20, 'Salary': 45000, 'Company': 'WIPRO'}
Enter the details of the new Employee....
Name:viveka
Age:18
Salary:95000
Company:tcs
printing the new data....
{'Name': 'viveka', 'Age': 18, 'Salary': 45000, 'Company': 'WIPRO', 'salary': 95000, 'company': 'tcs'}

In [ ]:
Employee = {"Name":"David","Age":30,"Salary":55000,"Company":"WIPRO"}
print(type(Employee))
print("printing Employee data....")
print(Employee)
print("Deleting some of the employee data")
del Employee["Name"]
del Employee["Company"]
print("printing the modified information")
print(Employee)
print("Deleting the dictionary:Employee")
del Employee
print("Lets try to print it again")

<class 'dict'>
printing Employee data....
{'Name': 'David', 'Age': 30, 'Salary': 55000, 'Company': 'WIPRO'}
Deleting some of the employee data
printing the modified information
{'Age': 30, 'Salary': 55000}
Deleting the dictionary:Employee
Lets try to print it again

In [ ]:
Dict1={1:'javapoint',2:'educational',3:'website'}
pop_key=Dict1.pop(1)
print(Dict1)

{2: 'educational', 3: 'website'}

In [ ]:
Employee = {"Name":"John","Age":29,"Salary":25000,"Company":"WIPRO"}
for x in Employee:
  print(x)

Name
Age
Salary
Company

In [ ]:
Employee = {"Name":"John","Age":29,"Salary":25000,"Company":"WIPRO"}
for x in Employee:
  print(Employee[x])

John
29
25000
WIPRO

In [ ]:
Employee = {"Name":"John","Age":29,"Salary":25000,"Company":"WIPRO"}
for x in Employee.values():
  print(x)

John
29
25000
WIPRO

In [ ]:
Employee = {"Name":"John","Age":29,"Salary":25000,"Company":"WIPRO"}
for x in Employee.items():
  print(x)

('Name', 'John')
('Age', 29)
('Salary', 25000)
('Company', 'WIPRO')